body {
  background-image: url(strawberrybackground.jpeg);
  background-size: cover;
  font-family: 'Bungee';
  color: #FF6F91;
  text-align: center;
  padding: 40px;
  position: relative;
  
  /* Flexbox properties for centering */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1 {
  font-family: "Bungee";
  color: #c1566f;
  font-size: 5em;
  margin-top: 25px;
}

h2 {
  font-family: 'Bungee';
  color: #FF6F91;
  font-size: 2.5em;
  margin-bottom: 20px;
}

.auth-container {
  background-color: #ff6f91ba;
  padding: 40px;
  border-radius: 15px;
  display: inline-block;
  box-shadow: 0 10px 20px rgb(234, 101, 101);
}

.submit {
  background-color: #f2c1cc;
  color: rgb(239, 1, 1);
  border: none;
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 1.5em;
  cursor: pointer;
  transition: transform 0.3s;
  box-shadow: 0 5px 15px rgb(223, 66, 98);
  width: 100%;
  font-family: 'Bungee';
}

.submit:hover {
  transform: scale(1.1);
}

button {
  font-family: 'Bungee';
  color: #FF6F91;
  font-size: 5em;
  margin-bottom: 20px;
  font-style: normal;
}

.container {
  background-color: #ffabbd88;
  border-radius: 50px;
  background-size: cover;
  height: 500px;
  width: 700px;
  background-repeat: no-repeat;
  font-family: 'Nunito', sans-serif;
  color: #FF6F91;
  text-align: center;
  padding-left: 25px;
  margin-bottom: 75px;
  padding: 50px;
  position: relative;
  
  /* Centering the content inside the container */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
