body {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    background-color: #ffe4e1; /* Light pink background */
    margin: 0;
    padding: 0;
}

.login-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 60px;
    color: #ff69b4; /* Hot pink text */
    margin-bottom: 30px;
}

.login-container {
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #ff69b4;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"], input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px;
    background-color: #ff69b4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff1493; /* Deep pink when hovered */
}

.error-message {
    color: red;
    margin-top: 10px;
}
