<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PREFERENCE PAGE</title>
    <link rel="stylesheet" href="form.css">
</head>
<body>
    <h1><img src="img/indexFlower.png" alt="Flower Icon" class="flowerIcon">PREFERENCES<img src="img/indexFlower.png" alt="Flower Icon" class="flowerIcon"></h1>
    <div class="auth-container">
        <h2></h2>
        <a class="submit" href="index.html">Streetwear</a>
        <br>
        <button class="submit" href="/views/index.html">Coquette</button>
    </div>
</body>
</html>