<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Welcome to FASE FITS</title>
   <link rel="stylesheet" href="style/initial.css">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Nunito:wght@400..900&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body class="kawaii-body">
  <div class="center-container">
    <h1><img src="img/indexFlower.png" alt="Flower Icon" class="flowerIcon"> FASE FITS <img src="img/indexFlower.png" alt="Flower Icon" class="flowerIcon"></h1>

    <div class="middle-text">
      <h2>Welcome to FASE FITS</h2>
      <p>Your personalized outfit recommendation service based on the weather and your preferences.</p>
    </div>

    <div class="buttons">
      <a href="index.html"><button class="theme-button">Go to Weather App</button></a>
      <div class="dropdown">
        <button class="dropbtn">User Information</button>
        <div class="dropdown-content">
          <a href="account.html"><span class="material-symbols-outlined">account_circle</span> Account Page</a>
          <a href="analytics.html"><span class="material-symbols-outlined">insights</span> User Analytics</a>
        </div>
      </div>
      <a href="auth.html"><button class="theme-button">Back to Login/Sign Up</button></a>
    </div>
  </div>
</body>
</html>
